@import "style-icons.css";
@import "style-aside.css";
@import "style-header.css";
@import "style-content.css";
@import "style-widgets-trending.css";
@import "style-widgets-announcements.css";
@import "style-widgets-projects.css";

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

:root {
  --accent: #596D48;
  --body-background: #f5f5f5;
  --body-text-color: #111;
  --aside-background: #ff9a03;
  --header-background: #fff;
  --main-background: #E2E8F0;
  --aside-text-color: #fff;
}

body {
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 180px auto;
  gap: 0;
  grid-template-areas:
    "aside header header header"
    "aside main main main";
  padding: 0;
  margin: 0;
  height: 100vh;      
  font-family: 'Montserrat', sans-serif;
  color: var(--body-text-color);
  background-color: var(--body-background);
}

#aside {
  grid-area: aside;
  background-color: var(--aside-background);
  padding: 20px;
  color: var(--aside-text-color)
}

#header {
  grid-area: header;
  background-color: var(--header-background);
  box-shadow: 1px 3px 5px #ccc;
  padding: 15px;
  z-index:1;
}

#main {
  grid-area: main;
  background-color: var(--main-background);
  padding: 15px;
}
