#main {
  display: grid;
  grid-template-columns: minmax(480px, auto) 280px;
  gap: 20px;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

#main h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#projects{
  grid-area: projects;
  border: 2px solid #000;
  padding: 15px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}

.project {
  background: #fff;
  padding: 10px; 
  border-radius: 5px;
  box-shadow: 3px 3px #ddd;
}

.project h4 {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
}

#announcements{
  grid-area: announcements;
  border: 2px solid #000;
  padding: 15px;
}

#trending{
  grid-area: trending;
  border: 2px solid #000;
  padding: 15px;
}
