.header-container{
    border: 3px solid green;
    display: grid;
    grid-template-rows: 70px 70px;
}
.top-bar{
    border: 2px solid red;
    margin: 5px;
    display:grid;
    grid-template-columns: 40px 2fr 40px 60px 1fr;
    grid-template-rows:1fr;
}

#search{
    border-radius: 20px;
    width: 35vw; 
    border : none;
    background:rgba(226,232,240,255);
    height: 30px;
    margin-top: 13px;
    place-items: left;
}

.top-bar .imgs{
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}

img3-div{
    margin: auto;
    display: block;
}
.username-div{
    text-align: center;
}

.bottom-bar{
    display: grid;
    grid-template-columns: 80px 2fr 1fr;
}


.blue-btn{
    border-radius: 30px;
    width: 100px;
    border: none;
    padding: 8px;
    background-color: #1992D4;
    color: #fff;
    font-weight: 200;
}
