.sidebar {
  background-color: #fff;
  display: grid;
  grid-template-rows: 1fr;
}

.sidebar-title {
  color: #1992D4;
  font-size: 20px;
  margin: 1fr;
}

.sidebar button {
  display: grid;
  grid-template-columns: 30px 0.1fr auto;
  border-radius: 30px;
  width: 80%;
  border: none;
  padding: 10px;
  background-color: #1992D4;
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 30px;
}

.sidebar button:hover {
  background-color: #0873ad;
}